.advantages-list {
  background-color: @bg-grey;
  margin: 0;
  padding: 0;
}

.advantages-list__item {
  list-style: none;
  .center;
}

.advantages-list__header {
  .weight(@seven-hundred);
  .size(@eighteen);
  .lh(@twenty-four);
  color: @dark;
}

.advantages-list__content {
  .lh(@twenty-four);
}
