.contacts__wrapper,
.contacts__list {
  .center;
}

.contacts__leed {
  margin: 0;
  margin-top: 47px;
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@twenty-nine);
  .center;
}

.contacts__header {
  .weight(@seven-hundred);
  .size(@eighteen);
  .lh(@twenty-five);
}

.contacts__content {
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@thirty-three);
  color: @varnich;
}
