.contacts {
  background-color: @light;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 411px;

  @media (min-width: @tablet-width) {
    height: 405px;
    margin-bottom: 150px;

    &__header:first-of-type,
    &__content:first-of-type {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 0;
      .center;
    }

    &__header:nth-of-type(2),
    &__content:nth-of-type(2) {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      .center;
    }

    &__header:last-of-type,
    &__content:last-of-type {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      margin: 0;
      .center;
    }

    &__content:first-of-type,
    &__content:nth-of-type(2),
    &__content:last-of-type {
      margin-top: 27px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 365px;

    &__header:nth-of-type(2),
    &__content:nth-of-type(2) {
      grid-column-start: 3;
      grid-column-end: 4;
      margin: 0;
    }

    &__header:last-of-type,
    &__content:last-of-type {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &__content:first-of-type,
    &__content:nth-of-type(2),
    &__content:last-of-type {
      margin-top: 34px;
    }
  }
}

.contacts__wrapper {
  .wrapper;
  width: 87.5%;
  outline: 5px solid purple;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 93.94%;
  }

  @media (min-width: @desktop-width) {
    width: 78.334%;
  }
}

.contacts__leed {
  margin: 0;
  margin-top: 47px;
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@twenty-nine);
  .center;

  @media (min-width: @tablet-width) {
    margin-top: 55px;
    .size(@sixteen + @twenty-four);
    .lh(@twenty-five + @twenty-nine);
  }

  @media (min-width: @desktop-width) {
    margin-top: 74px;
    .size(@twenty-five + @twenty-five);
    .lh(@eighteen + 50);
  }
}

.contacts__leed:nth-of-type(2) {
  margin-top: 0;
}

.contacts__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 99px 166px;
    grid-template-columns: 310px 310px;
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 185px;
    grid-template-columns: 373px 211px 356px;
    padding-top: 46px;
  }
}

.contacts__header {
  .weight(@seven-hundred);
  .size(@eighteen);
  .lh(@twenty-five);
  .center;
}

.contacts__content {
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@thirty-three);
  color: @varnich;
}
