.data-text {
  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    .weight(@four-hundred);
    .size(@eighteen);
    .lh(@thirty);
    color: @base-color;
  }

  padding: 3px 0 0 2.2%;
  border: 2px solid @border-form;
  border-radius: 2px;
  margin-top: 5px;
  height: 56px;

  @media (min-width: @desktop-width) {
    padding: 3px 0 0 2.451%;
  }

  &--surname {
    @media (min-width: @tablet-width) {
      width: 80.85%;
      margin-left: -2px;
      margin-top: 71px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 95px;
      margin-top: -48px;
    }
  }

  &--name {
    @media (min-width: @tablet-width) {
      margin-top: 52px;
      margin-left: 19px;
      width: 87.2%;
    }

    @media (min-width: @desktop-width) {
      margin-top: -48px;
      margin-left: 55px;
    }
  }

  &--patronymic {
    @media (min-width: @tablet-width) {
      width: 80.7%;
      margin-left: 19px;
      margin-top: 52px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 95px;
      margin-top: -48px;
    }
  }

  &--info {
    @media (min-width: @tablet-width) {
      width: 77.671%;
      margin-left: 59px;
      margin-bottom: 10px;

      &:first-of-type {
        order: 1;
      }

      &:last-of-type {
        order: 2;
      }
    }

    @media (min-width: @desktop-width) {
      width: 42.525%;
      margin: 0;

      &:first-of-type {
        order: 1;
        margin-right: 9.07%;
      }
    }
  }

  /* &:last-of-type {
    @media (min-width: @desktop-width) {
      margin-left: 95px;
      margin-top: -48px;
    }
  } */
}
