.features {
  height: 1002px;
  background-color: @light;

  @media (min-width: @tablet-width) {
    height: 725px;
  }

  @media (min-width: @desktop-width) {
    height: 933px;
  }
}

.features__wrapper {
  .wrapper;
  background-color: @light;
  width: 87.5%;
  outline: 5px solid red;
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    width: 93.94%;
    display: grid;
    grid-template-rows: 255px 547px;
    grid-template-columns: 310px 310px;
  }

  @media (min-width: @desktop-width) {
    width: 78.334%;
    background-color: @light;
    display: flex;
    flex-direction: column;
  }
}

.features__slogan {
  .center;
  color: @base-color;
  margin: 0;
  margin-top: 46px;
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@twenty-nine);

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 58px;
    .size(@thirty + 10);
    .lh(@twenty-four + 30);
  }

  @media (min-width: @desktop-width) {
    margin-top: 77px;
    .weight(@three-hundred);
    .size(@twenty-five + @twenty-five);
    .lh(@eighteen + 50);
  }
}

.features__slogan:nth-of-type(2) {
  @media (min-width: @tablet-width) {
    margin-top: 113px;
    text-align: center;
    outline: 2px solid green;
    outline-offset: -2px;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding: 0 110px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}
