.form-content {
  padding-top: 54px;

  &__input-surname::placeholder,
  &__input-name::placeholder,
  &__input-patronymic::placeholder,
  &__input-phone::placeholder,
  &__input-mail::placeholder {
    color: @base-color;
    .size(@eighteen);
    .lh(@thirty);
    padding-left: 20px;
  }
}

.form-content__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .wrapper;
  }
}

.form-content__full-name {
  margin-top: 50px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    order: -4;
  }

  @media (min-width: @desktop-width) {
    width: 433px;
    padding: 0;
  }
}

.form-content__data {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    order: -2;
  }
}

.form-content__attachment {
  @media (min-width: @tablet-width) {
    order: -3;
  }
}


.form-content__crazy-travel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

.form-content__user-data {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

.form-content__attachment-travel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

.form-content__surname,
.form-content__name,
.form-content__patronymic,
.form-content__phone,
.form-content__mail {
  color: @varnich;
  .uppercase;
  .lh(@thirty);

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.form-content__crazy-legend,
.form-content__attachment-legend,
.form-content__textarea-legend,
.form-content__data-legend,
.form-content__message-legend {
  color: @varnich;
  .uppercase;
  .lh(@eighteen);
  .center;
}

.form-content__textarea {
  .center;
  color: @base-color;
  .size(@eighteen);
  .lh(@thirty);
  width: 99.29%;
  padding: 0;
  resize: none;
  border: 2px solid grey;
}

.form-content__message {
  padding: 0;
  margin: 0;
  border: 0;
}



.form-content__button {
  margin-bottom: 46px;
}

.form-content__reference {
  .uppercase;
  .lh(@thirty);
  .center;
}
