.form-content {
  padding-top: 44px;

  @media (min-width: @tablet-width) {
    padding-top: 91px;
  }

  &__input-surname::placeholder,
  &__input-name::placeholder,
  &__input-patronymic::placeholder,
  &__input-phone::placeholder,
  &__input-mail::placeholder {
    color: @base-color;
    .size(@eighteen);
    .lh(@thirty);
    padding-left: 20px;
  }
}

.form-content__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form-content__full-name {
  display: flex;
  flex-direction: column;
  .wrapper;
  width: 87.5%;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    order: -4;
    width: 93.94%;
  }

  @media (min-width: @desktop-width) {
    width: 36.25%;
    padding: 0;
    margin-left: 10.83%;
    margin-right: 69px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form-content__data {
  padding-top: 32px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    order: -2;
    margin-bottom: 18px;
    padding-top: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 0;
  }
}

.form-content__attachment {
  padding-top: 39px;
  padding-bottom: 46px;
  background-color: @bg-grey;

  @media (min-width: @tablet-width) {
    order: -3;
    padding-top: 18px;
    background-color: @light;
  }

  @media (min-width: @desktop-width) {
    width: 45.852%;
    padding-top: 0;
    margin-right: 15px;
    margin-top: 72px;
  }
}

.form-content__emotion {
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 57px;
  }
}

.form-content__crazy-travel {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  .wrapper;
  width: 87.5%;

  @media (min-width: @tablet-width) {
    width: 93.94%;
    box-sizing: border-box;
    border: 2px solid @border-form;
    border-radius: 2px;
    padding-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 78.334%;
    box-sizing: border-box;
    padding-bottom: 11px;
  }
}

.form-content__user-data {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  .wrapper;
  width: 87.5%;

  @media (min-width: @tablet-width) {
    border: 2px solid @border-form;
    border-radius: 2px;
    box-sizing: border-box;
    width: 93.94%;
    padding-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    padding: 5px 62px 13px 58px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 78.334%;
  }
}

.form-content__phone {
  color: @varnich;
  .uppercase;
  .lh(@thirty);
  padding-left: 23px;

  @media (min-width: @tablet-width) {
    padding-left: 77px;
    order: 2;
    margin-bottom: 25px;
    position: relative;
    display: block;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      width: 59px;
      height: 59px;
      background-color: @border-form;
      position: absolute;
      top: -236%;
      left: 81%;
    }

    @media (min-width: @desktop-width) {
      top: -235.2%;
      left: 84.36%;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      width: 20px;
      height: 19px;
      background-image: url("../img/phone.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: -168%;
      left: 84%;
    }

    @media (min-width: @desktop-width) {
      top: -169%;
      left: 90%;
    }
  }

  @media (min-width: @desktop-width) {
    order: 3;
    margin-left: 0;
    padding-left: 2.451%;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 9.07%;
    width: 43.015%;
  }
}

.form-content__mail {
  color: @varnich;
  .uppercase;
  .lh(@thirty);
  padding-left: 23px;
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    padding-left: 77px;
    order: 4;
    margin-top: 0;
    position: relative;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      width: 59px;
      height: 59px;
      background-color: @border-form;
      position: absolute;
      top: -236%;
      left: 81%;
    }

    @media (min-width: @desktop-width) {
      top: -238%;
      left: 84.5%;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      width: 20px;
      height: 19px;
      background-image: url("../img/mail.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: -160%;
      left: 84.1%;
    }

    @media (min-width: @desktop-width) {
      top: -160%;
      left: 90.2%;
    }
  }

  @media (min-width: @desktop-width) {
    order: 4;
    margin-top: 10px;
    padding-left: 2.451%;
    width: 43.015%;
  }
}

.form-content__attachment-travel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @border-form;
    border-radius: 2px;
    box-sizing: border-box;
    width: 93.94%;
    .wrapper;
    padding-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 78.88%;
    padding-bottom: 58px;
  }
}

.form-content__surname {
  color: @varnich;
  .uppercase;
  .lh(@thirty);
  padding-left: 23px;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
    margin-top: 90px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 54px;
  }
}

.form-content__name,
.form-content__patronymic {
  color: @varnich;
  .uppercase;
  .lh(@thirty);
  padding-left: 23px;
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    padding-left: 0;
  }
}

.form-content__name {
  @media (min-width: @desktop-width) {
    margin-top: 72px;
  }
}

.form-content__patronymic {
  @media (min-width: @desktop-width) {
    margin-top: 70px;
  }
}

.form-content__legend {
  color: @varnich;
  .uppercase;
  .lh(@eighteen);
  .center;
  padding: 0;
  width: 77.86%;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    width: 62.625%;
    padding: 0 25px;
  }

  @media (min-width: @desktop-width) {
    width: 62.326%;
    margin-bottom: 30px;
  }

  &--data-legend {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      width: 32.47%;
      padding: 0 30px;
      margin-bottom: 28px;
      order: 0;
    }

    @media (min-width: @desktop-width) {
      width: 24.265%;
      padding: 0 31px;
    }
  }

  &--attachment-legend {
    @media (min-width: @desktop-width) {
      width: 73.955%;
    }
  }

  &--message-legend {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      padding: 0 38px;
      width: 37.097%;
      margin-bottom: 38px;
    }

    @media (min-width: @desktop-width) {
      width: 22.55%;
      margin-bottom: -10px;
    }
  }
}

.form-content__textarea {
  color: @base-color;
  .size(@eighteen);
  .lh(@thirty);
  padding-top: 13px;
  resize: none;
  border: 2px solid @border-form;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  width: 99.9999%;
  display: block;
  padding-left: 20px;
  height: 201px;

  @media (min-width: @tablet-width) {
    height: 192px;
  }

  @media (min-width: @desktop-width) {
    height: 126px;
  }
}

.form-content__message {
  padding: 0;
  border: 0;
  .wrapper;
  width: 87.5%;

  @media (min-width: @tablet-width) {
    border: 2px solid @border-form;
    box-sizing: border-box;
    width: 93.94%;
    padding: 0 60px 51px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 44px 60px 45px 60px;
    width: 78.334%;
  }
}

.form-content__button {
  border-radius: 4px;
  margin: 48px auto;
  .size(@eighteen);
  .lh(@thirty);
  text-decoration: none;
  text-transform: uppercase;
  .weight(@seven-hundred);
  background-color: @button-fill;
  color: @light;
  padding: 16px 47px 17px 47px;
  width: 186px;

  @media (min-width: @tablet-width) {
    margin-top: 66px;
    margin-left: 20px;
    margin-right: 0;
    padding-left: 57px;
    padding-right: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 65px;
    margin-left: 130px;
  }

  &:hover {
    background-color: @button-condition;
  }

  &:active {
    background-color: @button-condition;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: @border-form;
  }
}

.form-content__reference {
  .uppercase;
  .lh(@thirty);
  .center;
  margin-top: -14px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 3057px;
    left: 69.3%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  span {
    color: @varnich;
  }
}

.form-content__travel {
  background-color: @bg-grey;
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    background-color: @light;
    width: 100%;
    padding-top: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}

.form-content__reference-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    right: 130px;
    top: 1799px;
    text-transform: uppercase;
    .lh(@thirty);
    .center;

    span {
      color: @varnich;
    }
  }
}
