.form-content {
  padding-top: 44px;
  @media (min-width: @tablet-width) {
    padding-top: 91px;
  }

  &__input-surname::placeholder,
  &__input-name::placeholder,
  &__input-patronymic::placeholder,
  &__input-phone::placeholder,
  &__input-mail::placeholder {
    color: @base-color;
    .size(@eighteen);
    .lh(@thirty);
    padding-left: 20px;
  }
}

.form-content__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form-content__full-name {
  margin-top: 50px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    order: -4;
  }

  @media (min-width: @desktop-width) {
    width: 46.064%;
    padding: 0;
    margin-top: -195px;
  }
}

.form-content__travel {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-content__data {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    order: -2;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-content__data-legend {
  color: @varnich;
  .uppercase;
  .lh(@eighteen);
  .center;
}

.form-content__attachment {
  @media (min-width: @tablet-width) {
    order: -3;
  }

  @media (min-width: @desktop-width) {
    width: 45.852%;
  }
}

.form-content__emotion {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-content__crazy-travel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;

  @media (min-width: @desktop-width) {
    border: 2px solid grey;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 54px 59px 57px 60px;
  }
}

.form-content__user-data {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;

  @media (min-width: @desktop-width) {
    border: 2px solid grey;
    padding: 44px 60px 55px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-between;
  }
}

.form-content__phone {
  color: @varnich;
  .uppercase;
  .lh(@thirty);

  @media (min-width: @desktop-width) {
    order: -1;
    margin-left: 20px;
  }
}

.form-content__mail {
  color: @varnich;
  .uppercase;
  .lh(@thirty);

  @media (min-width: @desktop-width) {
    order: 0;
    margin-left: 38.7%;
  }
}

.form-content__attachment-travel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;

  @media (min-width: @desktop-width) {
    border: 2px solid grey;
    padding: 61px 164px 133px 66px;
  }
}

.form-content__surname,
.form-content__name,
.form-content__patronymic {
  color: @varnich;
  .uppercase;
  .lh(@thirty);

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.form-content__crazy-legend,
.form-content__attachment-legend,
.form-content__textarea-legend,
.form-content__data-legend,
.form-content__message-legend {
  color: @varnich;
  .uppercase;
  .lh(@eighteen);
  .center;
}

.form-content__textarea {
  .center;
  color: @base-color;
  .size(@eighteen);
  .lh(@thirty);
  width: 100%;
  padding: 0;
  resize: none;
  border: 2px solid grey;
}

.form-content__message {
  padding: 0;
  margin: 0;
  border: 0;

  @media (min-width: @desktop-width) {
    border: 2px solid grey;
    padding: 44px 60px 45px 60px;
  }
}

.form-content__button {
  margin-bottom: 46px;
}

.form-content__reference {
  .uppercase;
  .lh(@thirty);
  .center;

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
    top: 1060px;
  }
}
