.page-footer__wrapper {
  .wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  margin-top: 0;
}
