.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 87.5%;
  outline: 5px solid orange;
  outline-offset: -5px;
  .wrapper;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 93.94%;
    outline: 5px solid orange;
    outline-offset: -5px;

  }

  @media (min-width: @desktop-width) {
    width: 78.334%;
  }
}

.page-footer__logo {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__copyright {
  margin-top: 0;
}
