.photo-filter {
  background-color: @bg-grey;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.photo-filter__wrapper {
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 57px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    .wrapper;
    padding-left: 0;
    padding-right: 0;
  }
}

.photo-filter__block {
  width: 280px;
  height: 305px;
  outline: 2px solid orange;
  outline-offset: -2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 275px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    margin-right: 60px;
  }
}
