.quote__author {
  display: block;
  .center;
  color: @dark;
  font-weight: bold;
  .size(@eighteen);
  line-height: 30px;
  font-style: normal;
  margin-top: 45px;
}

.quote {
  &__data--existence {
    display: none;
  }
}

.quote__text {
  .weight(@four-hundred);
  .lh(@thirty);
  .center;
}
