.slogan-header {
  .center;
  background-color: @temporarily;
  height: 236px;
  margin-top: -66px;
  text-align: center;
  background-image: url("../img/backmobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backmobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 462px;
  }

  @media (min-width: @tablet-width) {
    height: 439px;
    margin-top: -110px;
    background-image: url("../img/backtablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backtablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 660px 728px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 394px;
    background-image: url("../img/bgimg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bgimg@2x.jpg");
      background-position: 0 -1px;
      background-size: 1196px 858px;
    }
  }
}

.slogan-header__slogan {
  color: @light;
  .weight(@three-hundred);
  .size(@twenty-four);
  .lh(@thirty-three);
  .wrapper;
  padding-top: 94px;
  width: 71.25%;

  @media (min-width: @tablet-width) {
    padding-top: 177px;
    width: 93.94%;
    .size(@thirty + 20);
    .lh(@thirty + @thirty + 8px);
  }

  @media (min-width: @desktop-width) {
    padding-top: 169px;
    width: 45.25%;
  }
}
