.store {
  background-color: @back-blue;
  padding-top: 28px;
}

.store__install {
  display: block;
  background-color: transparent;
  border: 3px solid @light;
  border-radius: 29px;
  color: @light;
  text-decoration: none;
  .center;
  .weight(@seven-hundred);
  .size(@eighteen);
  .lh(@eighteen);
}

.store__explanation {
  .center;
  color: @light;
  .weight(@three-hundred);
  .lh(@twenty-four);
}
