.user-history__list {
  margin: 0;
  padding: 0;
}

.user-history__item {
  list-style: none;
}

.user-history__photo {
  padding-left: 0;
  padding-right: 0;
}

.user-history__one {
  background-color: @bg-grey;
  padding-left: 17px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.user-history__cite {
  font-style: normal;
  .uppercase;
  .weight(@three-hundred);
  .size(@twelve);
  .lh(@twenty-four);
}

.user-history__name {
  .weight(@seven-hundred);
  .lh(@twenty-four);
}
