//Colors

@base-color: rgb(40, 54, 69);
@border-form: rgb(229, 229, 229);
@dark: rgb(0, 0, 0);
@dark-opacity: rgba(0, 0, 0, 0.3);
@back-blue: rgb(152, 166, 184);
@light: rgb(255, 255, 255);
@varnich: rgb(210, 40, 86);
@bg-grey: rgb(242, 242, 242);
@temporarily: grey;
@asphalt: rgb(29, 38, 49);
@item-color: rgb(99, 110, 121);

//Sizes

@twelve: 12px;
@fourteen: 14px;
@sixteen: 16px;
@eighteen: 18px;
@twenty-four: 24px;
@twenty-five: 25px;
@twenty-nine: 29px;
@thirty: 30px;
@thirty-two: 32px;
@thirty-three: 33px;

//Weights

@three-hundred: 300;
@four-hundred: 400;
@seven-hundred: 700;

//Viewports;
@tablet-width: 660px;
@desktop-width: 960px;
@mobile-width-only: 320px;
